[build]
  publish = "."

[[redirects]]
  from = "/chat/*"
  to = "/chat/index.html"
  status = 200

[[redirects]]
  from = "/malaysia/*"
  to = "/malaysia/index.html"
  status = 200

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-Content-Type-Options = "nosniff"
    Referrer-Policy = "strict-origin-when-cross-origin"
